.section {
    background-color: rgb(24, 23, 23);
    padding: 10px 40px 20px;
    margin-top: 30px;
}

.section_ul {
    padding: 0;
    list-style: none;
}

.section_ul--p {
    font-size: 1.5rem;
}